@use '../../ui/cozy.module';

.layout {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.header {
}

.pageContainer {
  margin-top: 7rem;
  margin-left: 7rem;
  margin-right: 7rem;
  @media (max-width: cozy.$smallScreen) {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 4rem;
  }
}
