@import '../../../../../util/ui/globalDesignElements.module';

.cardDetailsWrapper {
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $zSecondLevel;
}

.cardDetailsContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  align-items: center;
  z-index: $zTopLevel;
  background-color: var(--background-color);
  border-radius: 0.5rem;
  text-align: center;
  padding: 3rem;
  height: fit-content;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 10rem;
}

.cardLargeImage {
  display: flex;
  flex-basis: fit-content;
  height: inherit;

  img {
    width: 100%;
    max-height: 100%;
    @include cardImageStyle;
  }
}


.cardDetailColumnTitle {
  @include cardNameStyle;
  padding-bottom: 1.5rem;
}

.cardPrices {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: flex-start;
}

.cardDetailsInformation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  height: 100%;
}

.cardDetails {
  * {
    padding-bottom: 0.5rem;
  }
}


.setInformation {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;

  * {
    padding-bottom: 0.5rem;
  }

  img {
    margin-left: 0.3rem;
    max-height: 4rem;
  }
}


.setSymbol {

  img {
    width: 2rem;
  }
}

.setLogo {

}

.tcgPlayerPricesContainer {
}


.trendPrice {
}

.tcgPlayer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  font-size: 120%;
  font-weight: bold;
  border-bottom: solid var(--color) 0.1rem;
}

.tcgPlayerPriceListContainer {
}

.tcgPlayerPriceList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding-bottom: 0.5rem;
  }

}
