@import '../../../../../util/ui/globalDesignElements.module';

.cardDetailsWrapper {
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $zSecondLevel;
}

.cardDetailsContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  z-index: $zTopLevel;
  background-color: var(--background-color);
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 10rem;
}

.cardLargeImage {
  img {
    width: 100%;
    height: auto;
    @include cardImageStyle;
  }
}

.cardDetailsInformation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  height: 100%;
  margin-left: 5rem;
}

.cardDetails {
  * {
    padding-bottom: 0.5rem;
  }
}

.cardName {
  @include cardNameStyle;
  padding-bottom: 3rem;

}


.setInformation {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;

  * {
    padding-bottom: 0.5rem;
  }

  img {
    margin-left: 0.3rem;
    max-height: 4rem;
  }
}


.setName {
  @include cardNameStyle
}

.setSymbol {

  img {
    width: 2rem;
  }
}

.setLogo {

}

.cardPricesContainer {
}

.cardPricesHeader {
  padding-bottom: 3rem;
}

.cardMarket {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  img {
    width: 5rem;
    padding-bottom: 1rem;
  }
}

