@import '../../util/ui/globalDesignElements.module';

.about {

}

.profileAndSocials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
}

.spacer {
  background-color: color-mix(in srgb, var(--element-color-3) 20%, transparent);
  height: 2rem;
}

.skills {

}