@import '../../../../../util/ui/globalDesignElements.module';

.seriesMenuItem {
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  z-index: $zTopLevel;
}


.seriesNameContainer {
  text-align: center;
  font-size: 120%;
  font-weight: bold;
}
