@import '../../../../../util/ui/globalDesignElements.module';

.cardContainer {
  box-sizing: border-box;
  width: 25%;
  @media (min-width: $smallScreen) {
    width: 15%;
  }
}

.card {
  background-size: contain;
  background-color: var(--card-background-color);
  @include cardImageStyle;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cardInformationWrapper {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;

  * {
    @include centeredFlexRow;
  }
}


.cardName {
  @include cardNameStyle
}


.cardAdditionalInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0.3rem;

}

.setNameAndSymbol {
  display: flex;
  height: auto;
  width: 100%;
  text-align: center;
  padding-top: 1rem;

  img {
    margin-left: 0.3rem;
    max-height: 1rem;
  }

}

.setReleaseDate {
  padding-top: 0.3rem;
}

.cardPricesContainer {
  padding-top: 0.3rem;
}

