@use '../../../../ui/cozy.module';
.profileSection {
  display: flex;
  padding: 1.5rem;
  @include cozy.surface;
  background-color: color-mix(in srgb, var(--elementPeach) 50%, transparent);

  @media (max-width: cozy.$smallScreen) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @media (min-width: cozy.$smallScreen) {
    flex-direction: row;
    justify-content: center;
  }
}

.profilePicture {
  img {
    border-radius: 6rem 6rem 1.5rem 1.5rem;
    width: 12rem;
    height: 16rem;
    object-fit: cover;
    object-position: center top;
    @media (max-width: cozy.$smallScreen) {
      border-radius: 3rem 3rem 0.75rem 0.75rem;
      width: 6rem;
      height: 8rem;
    }
  }
}

.spacer {
  width: 6rem;
}

.textContainer {
  font-size: 1.3rem;
  align-content: center;
  text-align: center;
}

.name {
  @include cozy.typoHeadlineCaps;
  font-size: 2.7rem;
  padding-bottom: 0.8rem;
  margin: 0;
}

.job {
  @include cozy.typoHeadlineCaps;
  font-size: 1.5rem;
}

.jobSubtitle {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  font-size: 1rem;
}

.androidLogo {
  width: 2.5rem;

  img {
    display: block;
    width: 100%;
  }
}

.location {
  @include cozy.typoHeadlineCaps;
  font-size: 1.25rem;
  padding-top: 1rem;
}
