$smallScreen: 1180px;
$standardBottomPadding: 2rem;

@mixin centeredFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin centeredFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin paddingTopBottom {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@mixin paddingLeftRight {
  padding-left: 3rem;
  padding-right: 3rem;
}


@mixin itemList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 2rem;
}

@mixin card {
  background-color: var(--card-background-color);
  border: 1px solid var(--card-border-color);
  border-radius: 1rem;
  aspect-ratio: 63 / 88;
  min-width: 12rem;
  max-width: 12rem;
  max-height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@mixin button {
  cursor: pointer;
  width: 196px;
  padding: 12px 16px;

  font-size: 1.2rem;

  border-radius: 4px;
  border: 1px solid var(--primary-color);
  outline: none;

  color: var(--primary-color);
  background-color: transparent;
}