$smallScreen: 740px;


@mixin paddingTopBottom {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@mixin paddingLeftRight {
  padding-left: 3rem;
  padding-right: 3rem;
}

@mixin card{
  width: 40vw;
  height: 40vh;
  background-color: var(--card-background-color);
  border: 1px solid var(--card-border-color);
  border-radius: 4px;
  padding: 16px;
  display: flex;
  word-break: break-word;
  flex-direction: column;
}

@mixin button {
  cursor: pointer;
  width: 196px;
  padding: 12px 16px;

  font-size: 1.2rem;

  border-radius: 4px;
  border: 1px solid var(--primary-color);
  outline: none;

  color: var(--primary-color);
  background-color: transparent;
}