@import '../../../../util/ui/globalDesignElements.module';
@import '../SeriesMenu/SeriesMenu.module';

.seriesMenuWrapper {
}

.loadingState {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;

}

.setImage {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
  padding-bottom: 1rem;
  padding-top: 1rem;

  img {
    cursor: pointer;
    max-height: 3rem;
    @media (min-width: $smallScreen) {
      max-height: 5rem;
    }

  }
}

.setMenuContainer {
}

.setMenu {
  @include PopUpMenu;
  background-color: var(--background-color);
}


.overlay {
}

