@import '../../../../util/ui/globalDesignElements.module';
@import '../SeriesMenu/SeriesMenu.module';

.seriesMenuWrapper {
}

.loadingState {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;

}

.setLogo {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
  padding-bottom: 1rem;
  padding-top: 1rem;

  img {
    cursor: pointer;
    max-height: 2rem;
    @media (min-width: $smallScreen) {
      max-height: 3rem;
    }

  }
}

.setMenuContainer {
}

.setMenu {
  @include PopUpMenu;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--background-color);

}


.overlay {
  @include invisibleOverlay;
}

