@import '../../../../util/ui/globalDesignElements.module';
@import '../SeriesMenu/SeriesMenu.module';

.seriesMenuWrapper {
}

.loadingState {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;

}

.setImage {

  display: flex;
  justify-content: center;
  background-color: var(--background-color);

  img {
    cursor: pointer;
    max-width: 8rem;
  }
}

.setMenuContainer {
}

.setMenu {
  @include seriesSlideOutMenu;
  background-color: var(--background-color);
}


.overlay {
}

