@import '../util/globalScssConfig.module';

.header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-content: space-between;
}

.webNavigation {
  display: none;
  justify-content: end;
  @media (min-width: $smallScreen) {
    display: flex;
  }
}

.mobileNavigation {
  display: none;
  justify-content: end;
  @media (max-width: $smallScreen) {
    display: flex;

  }
}