@use '../ui/globalDesignElements.module';

.header {
  @media (max-width: $smallScreen) {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  margin-left: 7rem;
  margin-right: 7rem;
  padding-top: 2rem;
}

.title {
}


.navigationWrapper {
}

.webNavigation {
  display: grid;
  justify-content: center;
  align-items: start;
  @media (max-width: $smallScreen) {
    display: none;
  }
}

.mobileNavigation {
  display: none;
  justify-content: end;
  align-items: start;
  @media (max-width: $smallScreen) {
    display: flex;
  }
}