@import '../util/ui/globalDesignElements.module';

.header {
  @media (max-width: $smallScreen) {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  margin-left: 7rem;
  margin-right: 7rem;
  padding-top: 2rem;
}

.title {
}

.navigationWrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  position: fixed;
  top: 4.5rem;
  left: 0;
  right: 0;
}

.navigation {
}

.webNavigationWrapper {
  display: none;
  justify-content: center;
  align-items: start;
  @media (min-width: $smallScreen) {
    display: flex;
  }
}

.mobileNavigation {
  display: none;
  justify-content: end;
  align-items: start;
  @media (max-width: $smallScreen) {
    display: flex;
  }
}