@use '../../../../ui/cozy.module';

.socialsSection {
  padding: 1rem;
  width: 100%;
  border-top-right-radius: cozy.$borderRadius;
  background-color: color-mix(in srgb, var(--element-color-pink) 15%, transparent);
  font: small-caps 1.8rem sans-serif;
  text-align: center;
  @media (max-width: cozy.$smallScreen) {
    align-content: space-evenly;
    .email, .github, .linkedIn {
      margin: 2rem 0;
    }
  }
  @media (min-width: cozy.$smallScreen) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-area: 1 / 1 / 2 / 4;
  }
}
