/* Dark Theme Colors */
$neutral-0: #FFFFFF;
$neutral-500: #949497;
$neutral-700: #626264;
$neutral-900: #1A1A1C;

$dark-overlay-8: #2B2B2E;

$primary-500: #846bda;

/* Light Theme Colors */
$white-1: #FFFFFF;
$white-2: #F8F8F8;

$black-1: #232323;

$grey-2: #B4B4B7;
$grey-3: #949497;

$blue-1: #1274CF;

$soft-lavender: #E3D7FF;
$soft-blue: #C7E2FF;
$soft-pink: #FFC1B3;
$soft-mint: #D3F8E2;
$soft-mint-2: #A8D3C8;
$soft-mint-3: #82AFAD;
$soft-peach: #FFECD1;
$soft-gray: #F0F1F5;
