@use 'colors' as *;

html[data-theme="light"] {

  --background-color: #{$white-2};
  --color: #{$black-1};

  --primary: #{$blue-1};
  --secondary: #{$grey-3};

  --elementPeach: #{$soft-peach};
  --elementPink: #{$soft-pink};
  --elementBlue: #{$soft-blue};
  --elementGreen: #{$soft-mint};
}

html[data-theme="dark"] {
  --background-color: #{$neutral-900};
  --color: #{$neutral-0};

  --primary: #{$primary-500};
  --secondary: #{$neutral-500};

  --elementPeach: #{$soft-peach};
  --elementPink: #{$soft-pink};
  --elementBlue: #{$soft-blue};
  --elementGreen: #{$soft-mint};
}
