$smallScreen: 1180px;
$bigScreen: 1536px;
$standardBottomPadding: 2rem;
$zBaseLayer: 0;
$zSecondLevel: 1;
$zThirdLevel: 2;
$zTopLevel: 3;
$borderRadius: 0.5rem;

@mixin typoHeadlineCaps {
  font: small-caps 2rem sans-serif;
}

@mixin typoBodyCaps {
  font: small-caps 1.2rem sans-serif;
}

@mixin typoBody {
  font: 1.2rem sans-serif;
}
