@import '../../util/ui/globalDesignElements.module';

.market {

}

.header {
  @include HorizontalMargins;
  position: fixed;
  z-index: $zBaseLayer;
  height: 10rem;
  top: 5rem;
  left: 0;
  right: 0;
  transition: 0.2s;
}

.cardListWrapper {
  padding-top: 8rem;
}

.loadingState {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}