@import '../../util/ui/globalDesignElements.module';

.market {
  @include horizontalMargins;
}

.header {
  @include horizontalMargins;
  background-color: var(--background-color);
  position: fixed;
  z-index: $zBaseLayer;
  top: 7rem;
  left: 0;
  right: 0;
  transition: 0.15s;
}

.seriesMenuAndLoadingSpinner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    ". seriesMenu loadingState "
}

.spacer {
  grid-area: spacer;
}

.seriesMenu {
  grid-area: seriesMenu;
}

.cardListWrapper {
  padding-top: 8rem;
}

.loadingState {
  grid-area: loadingState;
  padding-top: 0.5rem;
  height: 0;
  overflow: visible;
  scale: 2;
  @media (min-width: $smallScreen) {
    scale: 0.5;
  }
}