$smallScreen: 1180px;
$bigScreen: 1536px;
$standardBottomPadding: 2rem;
$zBaseLayer: 0;
$zSecondLevel: 1;
$zThirdLevel: 2;
$zTopLevel: 3;

@mixin centeredFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin centeredFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin horizontalMargins {
  margin-left: 3rem;
  margin-right: 3rem;
}

@mixin verticalMargins {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@mixin paddingTopBottom {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@mixin paddingLeftRight {
  padding-left: 3rem;
  padding-right: 3rem;
}

@mixin button {
  cursor: pointer;
  width: 196px;
  padding: 12px 16px;

  font-size: 1.2rem;

  border-radius: 4px;
  border: 1px solid var(--primary-color);
  outline: none;

  color: var(--primary-color);
  background-color: transparent;
}


@mixin invisibleOverlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: $zSecondLevel;
  background-color: rgba(0, 0, 0, 0.3);
}

@mixin PopUpMenu {
  padding: 0.5rem;
  display: grid;
  position: fixed;
  left: 0;
  right: 0;
  top: 10rem;
  @media (max-width: $smallScreen) {
    top: 5rem;
  }
  z-index: $zTopLevel;
  @include horizontalMargins;
  @media (max-width: $smallScreen) {
    grid-template-columns: repeat(2, 1fr);
  }
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  border: solid var(--color) 1px;
  border-radius: 0.3rem;
}

@mixin popUpMenuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  z-index: $zTopLevel;
  padding: 0.5rem;
  width: 100%;
}

@mixin mobileFullScreenMenu {
  display: grid;
  @media (max-width: $smallScreen) {
    grid-template-columns: repeat(2, 1fr);
  }
  grid-template-columns: repeat(8, 1fr);
  padding-top: 10rem;
  position: fixed;
  z-index: $zTopLevel;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--background-color);
}