@import '../../../util/globalDesignElements.module';

.mobileNavigation {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-flow: column nowrap;
}

.burger {
  z-index: 100;
  width: 2rem;
  height: 0.25rem;
  background-color: var(--color);
}

.hamburgerMenu {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-color);

  ul {
    font-size: 2.5rem;
    list-style-type: none;
    margin: 0;
    padding: 10rem;
    display: flex;
    flex-direction: column;
  }

  li {
    padding-bottom: 3rem;
    text-align: center;
  }

  li img {
    flex-grow: 1;
    width: 0;
    max-height: 2.5rem;
  }

  li a {
    text-decoration: none;
    color: inherit;
  }
}