@import '../../../util/globalScssConfig.module';

.mobileNavigation {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
}

.burger {
  z-index: 100;
  width: 2rem;
  height: 0.25rem;
  background-color: var(--color);
}

.hamburgerMenu{
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 8rem;
  top: 0;
  left: 0;
  background-color: var(--background-color);

  ul {
    font-size: 2.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding-bottom: 3rem;
    text-align: center;
  }
  li a {
    text-decoration: none;
    color: inherit;
  }
}