@import '../../../../../util/ui/globalDesignElements.module';


.setMenuItemContainer {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  z-index: $zTopLevel;
  @media (min-width: $smallScreen) {
    @include popUpMenuItem;
    text-align: center;
    font-size: 120%;
  }
}


.setSymbol {
  padding-left: 0.5rem;

  img {
    height: 1rem;
    @media (min-width: $smallScreen) {
      width: 1.5rem;
    }
  }
}

.setName {
  padding-left: 0.5rem;
}