@import '../../../../../util/ui/globalDesignElements.module';


.setMenuItemContainer {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  z-index: $zTopLevel;
  @media (min-width: $smallScreen) {
    @include popUpMenuItem;
    text-align: center;
    font-size: 120%;
  }
}


.setSymbol {
  display: flex;
  justify-content: center;

  img {
    height: 2.5rem;
    object-fit: scale-down;
    @media (min-width: $smallScreen) {
      height: 3rem;
      max-width: 12rem;
    }
  }
}

.setSymbol:hover {
  .setName {
    display: flex;
    visibility: visible;
  }
}

.setName {
  position: absolute;
  visibility: hidden;
  transform: translate(0%, -110%);
  background-color: var(--card-background-color);
  padding: 1rem;
  border: solid var(--color) 1px;
  border-radius: 0.3rem;
}