@import '../../../../../util/ui/globalDesignElements.module';


.setMenuItemContainer {
  @include popUpMenuItem;
}


.setSymbol {
  img {
    height: 1.5rem;
  }
}

.setName {
  font-size: 120%;
  font-weight: bold;
}