@use '../../../ui/cozy.module';

.project {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1.5rem 1.6rem;
  gap: 2rem;
  @include cozy.surface;
}

.description {
}

.links {
  display: flex;
  font: small-caps 1.3rem sans-serif;
  a {
    @include cozy.surfaceInteractive(cozy.$surfaceRadiusSmall);
    padding: 0.8rem 1.4rem;
    text-decoration: none;
    box-shadow: 0 0.15rem 0.5rem color-mix(in srgb, var(--color) 10%, transparent);
    text-underline-offset: 0.25rem;

    &:hover {
      text-decoration: underline;
    }
  }
  @media (max-width: cozy.$smallScreen) {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  @media (min-width: cozy.$smallScreen) {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
