@use '../../../ui/cozy.module';

.project{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1.3rem;
  gap: 2rem;
  border-radius: 0.3rem;
}

.description {

}

.links{
  display: flex;
  * {
    border-radius: 0.3rem;
    padding: 1rem;
  }
  font: small-caps 1.3rem sans-serif;
  font-weight: bold;
  @media (max-width: cozy.$smallScreen) {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  @media (min-width: cozy.$smallScreen) {
    flex-direction: row;
    justify-content: space-evenly;
  }
}