@import '../../util/globalScssConfig.module';

.home {
  @include paddingLeftRight;
  @include paddingTopBottom;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-auto-flow: row;
}

.row {
  border: solid 1px;
}


.card {
 @include card
}


.button {
@include button
}
