@import '../../util/ui/globalDesignElements.module';

.home {
  @media (min-width: $bigScreen) {
    max-width: $bigScreen;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}


.footer {
  position: fixed;
  z-index: $zTopLevel;
  bottom: 0;
  right: 0;
}

.header {
  @media (min-width: $bigScreen) {
    max-width: $bigScreen;
  }
}


.pageContainer {
  padding-top: 20rem;
  @media (min-width: $smallScreen) {
    padding-top: 14rem;
  }
  @media (min-width: $bigScreen) {
    max-width: $bigScreen;
  }
}