@import '../../util/globalDesignElements.module';

.home {
  @include paddingLeftRight;
  @include paddingTopBottom;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}


.footer {
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 0;
}

.page {
  padding-top: 3rem;
}