@import '../../../../util/ui/globalDesignElements.module';

.seriesMenuContainer {
}

.burger {
  cursor: pointer;
  position: fixed;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-flow: column nowrap;
  right: 3rem;
}

.patty {
  z-index: 100;
  width: 2rem;
  height: 0.25rem;
  background-color: var(--color);
}

.seriesMenuWrapper {
}


.overlay {
  background-color: #626264;
  position: fixed;
  top: 0;
  left: 0;
  width: 120vw;
  height: 120vh;
  opacity: 30%;
}

.seriesMenu {
  @include popUpMenuMixin
}

.seriesLoadingIndicator {
  @include popUpMenuMixin
}