
.ball {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: white;
  position: relative;
  box-shadow: -0.75rem 0 rgba(0, 0, 0, 0.1) inset;
  animation: roll 1s ease-in-out infinite;
  background: linear-gradient(
                  to bottom,
                  #e83e35 0%,
                  #e83e35 50%,
                  #ffffff 50%,
                  #ffffff 100%
  );
}

.ball:after {
  content: "";
  position: fixed;
  top: 2.5rem;
  left: 0;
  width: 5rem;
  height: 0.28125rem;
  background: #3f3f3f;
}

.ball:before {
  content: "";
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border: solid 0.28125rem #3f3f3f;
  border-radius: 50%;
  background: white;
  z-index: 1;
  box-shadow: 0 0 5.625px -0.75px #c62828 inset;
  animation: button 2.25s ease infinite;
}

@-webkit-keyframes roll {
  from {
    transform: rotate(0deg);
  }
  90%,
  to {
    transform: rotate(720deg);
  }
}

@-webkit-keyframes button {
  from,
  50%,
  to {
    box-shadow: 0 0 5.625px -0.75px #c62828 inset;
  }

  25%,
  75% {
    box-shadow: 0 0 3.75px -0.75px #1300ea inset;
  }
}
