@use '../../../../ui/cozy.module';

.skillsSection {
  padding: 1rem;
  width: 100%;
  border-top-right-radius: cozy.$borderRadius;
  background-color: color-mix(in srgb, var(--element-color-green) 15%, transparent);
  font: small-caps 1.8rem sans-serif;
  text-align: center;
  @media (max-width: cozy.$smallScreen) {
    align-content: space-evenly;
  }
  @media (min-width: cozy.$smallScreen) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-area: 1 / 1 / 2 / 4;
  }
}

.androidDevelopment {
  grid-area: 1 / 1 / 2 / 2;
  padding: 0.7rem;

}


.otherSkills{
  grid-area: 1 / 2 / 2 / 3;
}
