@use '../../../../ui/cozy.module';

.skillsSection {
  padding: 1rem;
  width: 100%;
  border-top-right-radius: cozy.$borderRadius;
  background-color: color-mix(in srgb, var(--elementGreen) 15%, transparent);
  text-align: center;
  @include cozy.typoBodyCaps;
  @media (max-width: cozy.$smallScreen) {
    align-content: space-evenly;
  }
  @media (min-width: cozy.$smallScreen) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}

.androidDevelopment {
  padding: 0.7rem;
}


.otherSkills{
  padding: 0.7rem;
  font-size:  1.3rem;
}
