@use '../../../../ui/cozy.module';

.skillsSection {
  width: 100%;
  border-top-right-radius: cozy.$borderRadius;

  text-align: center;
  @include cozy.typoBodyCaps;
  @media (max-width: cozy.$smallScreen) {
   display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  @media (min-width: cozy.$smallScreen) {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
  }
}

.mainProgrammingSkills {
  width: 100%;
  background-color: color-mix(in srgb, var(--elementGreen) 40%, transparent);
  padding: 0.7rem;
  border-radius: 0.3rem;
}

.secondaryProgrammingSkills {
  width: 100%;
  background-color: color-mix(in srgb, var(--elementGreen) 40%, transparent);
  padding: 0.7rem;
  border-radius: 0.3rem;
}

.softSkills {
  width: 100%;
  background-color: color-mix(in srgb, var(--elementGreen) 50%, transparent);
  padding: 0.7rem;
  border-radius: 0.3rem;
}