.webNavigation {
  display: flex;

  ul {
    font-size: 2.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  li {
    padding: 0 1rem 0 0;
    text-decoration: none;
    color: inherit;
  }

  li a:hover {
    text-decoration: underline;
  }

}