.webNavigationWrapper {
}

.webNavigation {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  font-size: 2.5rem;
}

.about {
  width: 100%;
  text-align: end;
}
.about:hover {
  text-decoration: underline;
}

.projects {
  width: 100%;
}
.projects:hover {
  text-decoration: underline;
}
