@import '../../../../../util/ui/globalDesignElements.module';

.seriesMenuItem {
  @include popUpMenuItem;
}


.seriesNameContainer {
}

.seriesName {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
}
