@import '../../../../../util/ui/globalDesignElements.module';

.seriesMenuItemContainer {
  padding-left: 0.5rem;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  z-index: $zTopLevel;
  @media (min-width: $smallScreen) {
    @include popUpMenuItem;
    text-align: center;
  }
}

.seriesName {
  @media (min-width: $smallScreen) {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
  }
}
