@import '../../../../../util/ui/globalDesignElements.module';

.seriesMenuItemContainer {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  z-index: $zTopLevel;
  @media (min-width: $smallScreen) {
    @include popUpMenuItem;
  }
}

.seriesName {
  font-size: 120%;
  @media (min-width: $smallScreen) {
    font-size: 120%;
  }
}
