@import '../../../../util/ui/globalDesignElements.module';


.seriesMenuWrapper {

}

.seriesMenuContainer {
  background-color: var(--background-color);
}

.seriesNameContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.seriesName {
  @include cardNameStyle;
  cursor: pointer;
  font-size: 125%;
}

.seriesPopUpMenuContainer {
}

.seriesPopUpMenu {
  @media (max-width: $smallScreen) {
    @include mobileFullScreenMenu
  }
  @media (min-width: $smallScreen) {
    @include PopUpMenu;
  }

  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--background-color);
}

.hideSeriesMenuButton {
  display: none;
  padding: 0.5rem;
  position: fixed;
  left: 50%;
  top: 7%;
  transform: translate(-50%, 0);
  z-index: $zTopLevel;
  font-weight: bold;
  border: solid black 1px;
  @media (max-width: $smallScreen) {
    display: block;
  }
}

.overlay {
  @include invisibleOverlay;
}

