@import '../../../../util/ui/globalDesignElements.module';


.seriesMenuWrapper {

}

.seriesMenuContainer {
  background-color: var(--background-color);
}

.seriesNameContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.seriesName {
  @include cardNameStyle;
  cursor: pointer;
  font-size: 125%;
}

.seriesPopUpMenuContainer {
}

.seriesPopUpMenu {
  @include PopUpMenu;
  background-color: var(--background-color);
}

.overlay {
  @include invisibleOverlay;
}

