@import '../../../../util/ui/globalDesignElements.module';

@mixin seriesSlideOutMenu {
  display: grid;
  @media (max-width: $smallScreen) {
    grid-template-columns: repeat(2, 1fr);
  }
  grid-template-columns: repeat(8, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  background-color: var(--background-color);
}

.seriesMenuTopLevel {

}

.seriesMenuContainer {
  background-color: var(--background-color);
}

.seriesNameContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.seriesName {
  @include cardNameStyle;
  cursor: pointer;
  font-size: 125%;
}

.seriesMenuWrapper {
}


.overlay {
  @include invisibleOverlay;
}

.seriesMenu {
  @include seriesSlideOutMenu;
}
