@import '../util/globalDesignElements.module';

.cardContainer {

}

.card {
  @include card
}

.cardInformationContainer {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;

  * {
    @include centeredFlexRow;
  }
}

.cardName {
  font-size: 110%;
  font-weight: bold;
}

.cardDescription {
}
