@import '../util/globalDesignElements.module';

.cardContainer {
  box-sizing: border-box;
  width: 35%;
  @media (min-width: $smallScreen) {
    width: 20%;
  }
}

.card {
  background-size: contain;
  background-color: var(--card-background-color);
  border: 1px solid var(--card-border-color);
  border-radius: 1vw;
  aspect-ratio: 63 / 88;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cardInformationContainer {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;

  * {
    @include centeredFlexRow;
  }
}

.cardBaseInformation {
  display: grid;
  height: auto;
  grid-auto-flow: column;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: "spacer cardName setLogo";

}

.spacer {
  grid-area: spacer;
}

.cardName {
  font-size: 110%;
  font-weight: bold;
  grid-area: cardName;
}

.setLogo {
  grid-area: setLogo;
  justify-content: end;
}


.identifiers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.setLogo img {

  width: 2rem;
}
