@import '../util/globalDesignElements.module';

.cardContainer {
  box-sizing: border-box;
  width: 20%;
  @media (min-width: $smallScreen) {
    width: 15%;
  }
}

.card {
  background-size: contain;
  background-color: var(--card-background-color);
  border: 1px solid var(--card-border-color);
  border-radius: 1vw;
  aspect-ratio: 63 / 88;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cardInformationWrapper {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;

  * {
    @include centeredFlexRow;
  }
}


.cardName {
  text-align: center;
  font-size: 110%;
  font-weight: bold;
  grid-area: cardName;
}


.cardAdditionalInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0.3rem;

}

.setNameAndSymbol {
  display: flex;
  height: auto;
  width: 100%;

  .setName {
    text-align: center;
  }

  .setName img {
    padding-left: 0.3rem;
    height: 1.3rem;
  }

}

.releaseDate {
  grid-area: spacer;
}

.cardPrices {
}

