@use '../../ui/cozy.module';

.projects {
  @media (max-width: cozy.$smallScreen) {
    display: grid;
    justify-content: center;
    gap: 3rem;
  }
  @media (min-width: cozy.$smallScreen) {
    columns: 2;
    column-gap: 3rem;

    > section {
      break-inside: avoid;
      margin-bottom: 3rem;
    }
  }
}

.spacer {
  height: 3rem;
  column-span: all;
}
