.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-element-background-color);
  font-size: 5rem;
  font-style: italic;
  a {
    text-decoration: underline;
  }
}