@import '../../../../util/ui/globalDesignElements.module';
.profileSection {
  display: grid;
  @media (max-width: $smallScreen) {
    grid-template-rows: 1fr 1fr;
  }
  @media (min-width: $smallScreen) {
    grid-template-columns: 1fr 1fr;
  }
  border-top-left-radius: $borderRadius;
  border-bottom-left-radius: $borderRadius;
  background-color: color-mix(in srgb, var(--primary-element-background-color) 20%, transparent);
}

.profilePicture{
}
.profilePicture img{
  border-radius: 8rem;
  min-height: 12rem;
  min-width: 12rem;
  max-height: 12rem;
  max-width: 12rem;
  @media (max-width: $smallScreen) {
    min-height: 6rem;
    min-width: 6rem;
    max-height: 6rem;
    max-width: 6rem;
  }
}

.profileTextContainer {
  display: grid;
  grid-auto-columns: 1fr;
  grid-gap: 1rem;
  font-size: 1.5rem;
  text-align: center;
  align-self: center;
}

.name{
  text-align: center;
  font: small-caps  2.3rem sans-serif;
}

.job {
  font-size: 1.3rem;
}

.location {
  font-size: 1.3rem;
}

