@use 'util/theme/themes' as *;

body {
  background-color: var(--background-color);
  color: var(--color);
  overscroll-behavior: none;

  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

:root::-webkit-scrollbar {
  display: none;
}

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}