@use 'ui/theme/themes' as *;

body {
  background-color: var(--background-color);
  background-image: var(--background-gradient);
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--color);
  overscroll-behavior: none;
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
  color: inherit;
}

:root::-webkit-scrollbar {
  display: none;
}

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scroll {
  overflow: hidden;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
