.setMenu {
  display: flex;
  flex-direction: column;
}

.currentSeries {
  text-decoration: underline;
  cursor: pointer;
}

.setList {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  gap: 1rem;
  text-align: center;
}