.setMenu {
  display: flex;
  flex-direction: column;
}

.currentSeries {
  text-decoration: underline;
  cursor: pointer;
}

.loadingState {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
}

.setList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 1rem;
  gap: 1rem;
  text-align: center;
}