@import '../../../../util/ui/globalDesignElements.module';

.socialsSection {
  padding: 1rem;
  border-top-right-radius: $borderRadius;
  @media (max-width: $smallScreen) {
  align-content: space-evenly;
    .email, .github, .linkedIn{
      margin: 2rem 0;
    }
  }
  @media (min-width: $smallScreen) {
    align-content: center;
  }
  background-color: color-mix(in srgb, var(--element-color-pink) 15%, transparent);
  font: small-caps  1.8rem sans-serif;
  text-align: center;
}
