@import '../../../../util/ui/globalDesignElements.module';

.socialsSection {
  display: grid;
  grid-auto-rows: 1fr;
  height: 100%;
  padding: 1.5rem;
  border-top-right-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
  background-color: color-mix(in srgb, var(--secondary-element-background-color) 20%, transparent);
}


.socialsSection {
  font: small-caps  1.8rem sans-serif;
  text-align: center;
  align-self: center;
}

