@import '../../../util/ui/globalDesignElements.module';
.profileSection {
  display: flex;
  flex-direction: row;
}

.profilePicture img{
  border-radius: 1rem;
  min-height: 12rem;
  min-width: 12rem;
  max-height: 12rem;
  max-width: 12rem;
}