@import '../../util/ui/globalDesignElements.module';

.inventory {

}

.cardList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 2rem;
  justify-content: center;
}

.loadingState {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}