@import '../../util/ui/globalDesignElements.module';

.inventory {
  margin-top: 15rem;
  padding: 2rem;
  border: solid black 1px;
  border-radius: 2rem;
  
  display: flex;
  justify-content: center;
}
