.setMenuItemContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  border: solid transparent;
  border-radius: 0.3rem;
  padding-left: 1rem;
}

.setMenuItemContainer:hover {
  border: solid black;
}

.setSymbol {
  img {
    height: 1rem;
  }
}

.setName {
  padding-left: .5rem;
  font-size: 120%;
  font-weight: bold;
}