@import '../util/globalDesignElements.module';

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-top-left-radius: 0.3rem;
  @include paddingLeftRight;
  background-color: var(--background-color);
}

a {
  text-decoration: inherit;
  color: inherit;
}