@import '../util/globalScssConfig.module';

.footer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-top-left-radius: 0.3rem;
  @include paddingLeftRight;
  background-color: var(--background-color);
}

.text {
  display: flex;
 justify-content: end;
  align-items: end;
}